 @charset "utf-8";
        @import url(http://weloveiconfonts.com/api/?family=fontawesome);

        [class*="fontawesome-"]:before {
          font-family: 'FontAwesome', sans-serif;
        }

        body {
          background: linear-gradient(120deg, rgb(199 188 57), rgba(128,0,128,.9), rgba(255,0,0,.9));
          color: white;
          font: 87.5%/1.5em 'Open Sans', sans-serif;
          margin: 0;
        }

        p {
          line-height: 1.5em;
        }
         #h1style
        {
              margin-top: 10px;
        }

        #h1style a
        {
          text-decoration: none;
          color: white;
          margin-top: 10px;
        }

        after { clear: both; }

        .login {
          margin: 50px auto;
          width: 320px;
        }

        .login form {
          margin: auto;
          padding: 22px 22px 22px 22px;
          width: 100%;
          border-radius: 5px;
         /* background: #282e33;*/
         background: linear-gradient(120deg, rgb(56 43 94), rgb(223 82 127 / 90%), rgb(75 137 50 / 90%));
          border-top: 3px solid #434a52;
          border-bottom: 3px solid #434a52;
        }

        .login form span {
          background-color: #363b41;
          border-radius: 3px 0px 0px 3px;
          border-right: 3px solid #434a52;
          color: #606468;
          display: block;
          float: left;
          line-height: 50px;
          text-align: center;
          width: 50px;
          height: 50px;
        }

        .login form input[type="email"] {
             background-color: #70b9ab;
          border-radius: 32px 16px 43px 22px;
          color:white;
          margin-bottom: 1em;
          padding: 0 16px;
          width: 90%;
          height: 50px;
              outline: none;
    border: none;
        }

         .login form input[type="name"] {
             background-color: #70b9ab;
          border-radius: 32px 16px 43px 22px;
          color:white;
          margin-bottom: 1em;
          padding: 0 16px;
          width: 90%;
          height: 50px;
              outline: none;
    border: none;
        }

          .login form textarea[type="message"] {
             background-color: #70b9ab;
          border-radius: 32px 16px 43px 22px;
          color:white;
          margin-bottom: 1em;
          padding: 13px 16px;
          width: 90%;
          height: 50px;
              outline: none;
    border: none;
      font: 87.5%/1.5em 'Open Sans', sans-serif;
        }

        .login form input[type="password"] {
            background-color: #70b9ab;
          border-radius: 32px 16px 43px 22px;
          color:white;
          margin-bottom: 1em;
          padding: 0 16px;
          width: 90%;
          height: 50px;
              outline: none;
    border: none;
        }

        .login form input[type="submit"] {
        
            background-color: #70b9ab;
          border-radius: 32px 16px 43px 22px;
         
          width: 100%;
          height: 40px;
        
          color: white;
          cursor: pointer;
          transition: background 0.3s ease-in-out;
              outline: none;
    border: none;
        }
        #login form input[type="submit"]:hover {
          background: #16aa56;
        }

        ::placeholder {
      color: white;
  
        }